---
import nav from "../data/nav.json";
---

<nav>
  <a href="#hero" class="logo">RJM<span>L</span></a>

  <ul class="nl">
    {nav.map(item => (
      <li><a href={`#${item.id}`}>{item.label}</a></li>
    ))}
  </ul>

  <div class="nr">
    <a href="https://cv.rjmlaird.co.uk" class="nsub">Full CV ↗</a>
    <a href="mailto:mail@rjmlaird.co.uk" class="ncta">Get in touch</a>
  </div>
</nav>