---
import data from "../data/projects.json";
import ProjectCard from "../components/Projects/ProjectCard.astro";

const projects = [
  ...(data?.featured_projects ?? []),
  ...(data?.collaborative_projects ?? []),
  ...(data?.other_projects ?? []),
  ...(data?.community_projects ?? [])
];

const activeProjects = projects;
---

<section id="work">
  <p class="sl">Selected projects</p>

  {activeProjects.length ? (
    activeProjects.map((project) => (
      <ProjectCard project={project} />
    ))
  ) : (
    <p>No projects available.</p>
  )}
</section>