---
import { getCollection } from '../lib/api';
import ProjectCard from '../components/Projects/ProjectCard.astro';

const activeProjects = await getCollection<any[]>('projects');
---

<section id="work">
  <p class="sl">Selected projects</p>

  {activeProjects.length ? (
    activeProjects.map((project) => <ProjectCard project={project} />)
  ) : (
    <p>No projects available.</p>
  )}
</section>
